@import '../variables.scss';

.search-input {
  width: 130px;
  height: 28px;
  padding-left: 8px;
  padding-right: 28px;
  border: 1px solid $medium-grey;
  border-radius: 4px;
  background: url(../images/search-line.svg) no-repeat 142px 6px, $ligth-grey;
  outline-color: $primary-color;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 600px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  span {
    color: $dark-grey;
  }

  .name {
    margin-right: 300px;
  }
}