$white: #fff;
$black: #000;
$ligth-grey: #F5F5F5;
$grey: #E5E5E5;
$medium-grey: #C4C4C4;
$dark-grey: #979797;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
$primary-color: #94BBF5;
$dark-blue: #719FE2;
